[Desktop Entry]
Version=1.0
Type=Application
Name=Balena Etcher
Comment=Gravador de imagens para USB e SD
Exec=balena-etcher-electron
Icon=./balena-etcher.png
Terminal=false
Categories=Utility;System;
StartupNotify=true
