[Desktop Entry]
Version=1.0
Type=Application
Name=Brave
Comment=Navegador Brave
Exec=brave-browser %U
Icon=./brave.png
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
